.videos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    gap: 3rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.videos div button {
    margin-top: 5rem;
}


.video1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(50% - 1.5rem);
    margin-left: 3rem;
}

.video2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width: calc(50% - 1.5rem);
    margin-right: 3rem;
}

.title1,
.title2 {
    margin-bottom: 13rem;
    font-size: 1.5rem;
    padding: 1rem 3rem 1rem 3rem;
    text-align: center;
    overflow: hidden;
}

.yt-1 {
    position: absolute;
    align-self: center;
    border: none;
    box-shadow: grey 10px 10px 10px 1px;
    border-radius: 10px;
    transition: 1s;
    animation: video-enter 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.yt-2 {
    position: absolute;
    align-self: center;
    border: none;
    box-shadow: grey 10px 10px 10px 1px;
    border-radius: 10px;
    transition: 1s;
    animation: video-exit 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.input {
    margin-top: 13rem;
}

.submit {
    margin-top: 3rem;
    background: cornsilk;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-size: 1.3rem;
    transition: background 1s, transform 1s;
}

.submit:hover {
    background: greenyellow;
    transform: rotate(720deg);
}

.versus-video {
    width: 10rem;
    border: none;
}

.invert {
    filter: invert(100%);
}

@keyframes video-enter {
    from {
        transform: translateX(-50vw)
    }
    to {
        transform: translateX(0vw)
    }
}

@keyframes video-exit {
    from {
        transform: translateX(+70vw)
    }
    to {
        transform: translateX(0vw)
    }
}
