.topnav a {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    display: block;
}

.topnav a img {
    margin-top: 0.5rem;
    width: 50px;
}

.topnav {
    background: white;

}

div.card div a {
    font-size: large;
}

.topnav {
    display: flex;
    align-items: center;
    width: 100vw;
}

#myLinks a {
    font-size: 2rem;
    margin-right: 4%;
}

#myLinks a:hover {
    background: black;
    color: white;
    box-shadow: none;
    border-radius: 10px;
}

#myLinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
