
<link
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav">

    <a class="logoDesktop" href="/" title="Home"><img src="/assets/images/logo.svg" alt="Logo"/></a>
    <div id="myLinks">
        <a href="/">Random music</a>
            <a href="/list">classement</a>

    </div>
</div>
