<link href="http://fonts.cdnfonts.com/css/melankolia" rel="stylesheet">
<div class="topnav">

    <a class="logoDesktop" href="/" title="Home"><img src="/assets/images/logo1.png
    " alt="Logo"/></a>
    <div id="myLinks">
        <a href="/">Vote</a>
            <a href="/classement">Classement</a>

    </div>
</div>
