<div class="videos">

	<div class="video1">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/OPf0YbXqDm0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<div>
		<button>vote</button>
		</div>
	</div>
	<div class="video2">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/OPf0YbXqDm0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<div>
		<button>vote</button>
		</div>
	</div>
</div>
